<div class="beer-card">
  <img src="{{ this.image_url }}" alt="" />
  <p class="beer-header">{{ this.name }}</p>
  <p class="beer-tagline">{{ this.tagline }}</p>
  <p class="beer-description">{{ this.description }}</p>
</div>
