<div class="index-container">
  <img id="ironbeer-logo" src="images/beer.png" alt="IronBeer logo" />
  <button><a href="/beers">Check the beers</a></button>
  <button><a href="/random-beer">Check a random beer</a></button>
</div>