<div class="random-beer">
  <img src="{{ beer.image_url }}" alt="" />
  <p class="beer-header">{{ beer.name }}</p>
  <p class="beer-tagline">{{ beer.tagline }}</p>
  <p class="beer-description">{{ beer.description }}</p>
</div>
